#cartCloseBtn,
#removeProductBtn,
#checkoutBtn {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  font-family: "Squada One", Fallback, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}

#cartContainer {
  z-index: 10;
  width: 34rem;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-color);
  border-left: 1px solid var(--outlines-color);
  text-align: center;
  position: fixed;
  right: -100vw;
  top: 0;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  transition: right 0.6s;
  #cartCloseBtn {
    padding: 2rem;
    font-size: 1.2rem;
    align-self: flex-end;
    &:hover {
      cursor: pointer;
    }
  }
  .cart-products-container {
    flex-grow: 1;
    .cart-product:first-child {
      border-top: 1px solid var(--outlines-color);
      border-bottom: 1px solid var(--outlines-color);
    }
    .cart-product {
      border-bottom: 1px solid var(--outlines-color);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-product-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .cart-img {
          width: 8rem;
          height: 8rem;
          padding: 0.4rem;
          background-color: white;
          object-fit: contain;
          object-position: center;
        }
        .cart-product-name {
          text-align: left;
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: center;
          align-items: flex-start;
          p {
            font-weight: 600;
          }
          #removeProductBtn {
            text-align: left;
            font-family: "Lexend", Fallback, sans-serif;
            font-size: 1rem;
            &:hover {
              cursor: pointer;
            }
          }
          .quantity-and-price {
            width: 22rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .product-quantity {
              border: 1px solid var(--text-color);
              color: var(--text-color);
              display: flex;
              align-items: center;
              font-size: 1rem;
              width: 30%;
              .quantity-btn {
                background-color: transparent;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
                flex: 1;
              }
              .quantity-input {
                font-family: "Squada One";
                font-size: 1rem;
                width: 40%;
                text-align: center;
                background-color: transparent;
                border: none;
                outline: none;
                flex: 2;
              }
            }
            #cartProductPrice {
              font-family: "Squada One";
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .cart-checkout-info {
    padding: 1rem;
    bottom: 2rem;
    .cart-subtotal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    #checkoutBtn {
      background-color: var(--text-color);
      color: var(--bg-color);
      width: 100%;
      font-size: 1.5rem;
      padding: 1rem;
      &:hover {
        scale: 1.01;
        cursor: pointer;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cartContainer.showCartContainer {
  right: 0;
}

.cart-product .cart-product-info .cart-img {
  object-fit: fill;
}

@media screen and (max-width: 600px) {
  #cartContainer {
    width: 100vw;
    max-height: 100vh;
    .cart-products-container {
      align-self: center;
      width: 100%;
      .cart-product {
        align-items: flex-end;
        .cart-product-info {
          width: 100%;
          flex-direction: column;
          .cart-product-name {
            text-align: center;
            margin-right: 1rem;
            }
            .quantity-and-price {
              align-self: center;
          }
        }
      }
    }
  }
}


