#categories {
  left: 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 1.5rem 1rem;
  border-top: 1px solid var(--outlines-color);
  border-bottom: 1px solid var(--outlines-color);
  button {
    background: none;
    color: inherit;
    border: none;
    font-family: "Squada One", Fallback, sans-serif;
    opacity: 80%;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
}

#categories button:hover {
  opacity: 100%;
  transform: scale(1.05);
}

#categories button.active {
  opacity: 100%;
}

@media (max-width: 600px) {
  #categories {
    flex-wrap: wrap;
    padding: 10px;
  }

  #categories button {
    width: 100%;
    text-align: center;
  }
}
