* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f5f1e0;
  --text-color: #321e1d;
  --outlines-color: #bdb498;
  --contrast: #dfb8dd;
}

html {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend-Variable.ttf") format("truetype");
  font-size: 16px;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Squada One";
  src: url("../assets/fonts/SquadaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Squada One", Fallback, sans-serif;
  font-size: 5rem;
  font-weight: normal;
}

h2 {
  font-family: "Squada One", Fallback, sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-family: "Squada One", Fallback, sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

p {
  font-family: "Lexend", Fallback, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

/* Homepage */

body {
  background-color: #f3f1e0;
}

.homepage-container {
  width: 100vw;
  color: var(--text-color);

  .image-container {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image-container img {
    height: 50vh;
    object-fit: cover;
  }

  .homepage-product-section {
    display: flex;
    width: 100%;
  }

  #homepage-products-container {
    display: flex;
  }

  .shop-all-container {
    display: flex;
    width: 50%;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 50px;

    a {
      cursor: pointer;
    }
  }

  .homepage-products-card {
    display: grid;
    width: 100%;
    height: 31rem;
    justify-items: center;
    align-items: center;
    padding: 0 50px;
    border-left: 1px solid var(--outlines-color);
    border-right: 1px solid var(--outlines-color);
  }

  .product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    height: 250px;
  }

  .homepage-products-image {
    max-height: 130px;
    max-width: 130px;
  }

  .products-card-details {
    display: grid;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .homepage-products-price {
    justify-self: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #321e1d;
  }

  .homepage-products-rating {
    justify-self: left;
  }

  .homepage-products-rating i {
    font-size: 1rem;
    color: #ee9828;
  }

  .add-to-cart {
    font-size: 1.2rem;
    font-weight: bold;
    color: #321e1d;
    cursor: pointer;
    justify-self: right;
  }

  .add-to-cart:hover {
    transform: scale(1.1);
    color: #321e1d;
  }

  .homepage-products-title {
    font-family: "Lexend", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
    color: #321e1d;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
  }


  .background-image {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  @media (max-width: 768px) {
    .homepage-product-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #homepage-products-container {
      display: block;
    }

    .homepage-products-card {
      width: auto;
    }

    .shop-all-container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .homepage-products-title {
      font-size: 0.9rem;
    }

    .homepage-products-price {
      font-size: 1rem;
    }
  }
}


.newsletter-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .input-content h1 {
    color: var(--bg-color);
    text-align: center;
    margin: 0;
  }

  .input-wrapper input {
    padding: 20px;
    background-color: var(--bg-color);
    border: none;
  }

  .input-wrapper button {
    top: 1px;
    padding: 19px 50px;
    border: none;
    background-color: var(--bg-color);
    cursor: pointer;
    position: relative;
    left: -5px;
  }

  @media (max-width: 768px)   {
    h1 {
      font-size: 2rem;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}