.newsletter-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  position: relative;
  .newsletter-image {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    img {
      width: 140rem;
      height: auto;
      object-fit: cover;
    }
  }

  .input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    h3 {
      color: var(--bg-color);
      font-size: 4rem;
    }
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      input {
        padding: 1.15rem 2rem;
        background-color: var(--bg-color);
        border: none;
      }
      button {
        padding: 1rem 3rem;
        border: none;
        background-color: var(--bg-color);
        cursor: pointer;
        font-family: "Squada One", Fallback, sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .newsletter-container {
    height: 20rem;
    .newsletter-image {
      img {
        height: 20rem;
      }
    }
    .input-content {
      h3 {
        font-size: 3rem;
        padding: 0 2rem;
      }
      .input-wrapper {
        flex-direction: column;
        gap: 0.5rem;
        button {
          padding: 1rem 4.7rem;
        }
      }
    }
  }
}
