.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  .product {
    border: 1px solid var(--outlines-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
  }
  .product-image {
    width: 100%;
    height: 23rem;
    object-fit: contain;
    padding: 2rem;
    mix-blend-mode: multiply;
  }
  .add-to-cart {
    font-family: "Squada One", Fallback, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .add-to-cart:hover {
    transform: scale(1.1);
  }
  .product-middle {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 5px;
  }
  .product-title {
    font-size: 1rem;
    max-width: 36ch;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
  }
  .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #321e1d;
  }
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .rating i {
    font-size: 1rem;
    color: #eebc28;
  }
  .icons {
    display: flex;
    gap: 0.5rem;
  }
}

  @media (max-width: 480px) {
    .product-container {
      grid-template-columns: 1fr;
    }
  }
